body {
  margin: auto;
  height: 100vh;
  background-color: rgb(231, 222, 103);
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: "Courier New", Courier, monospace;
}

.app {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 12px;
}

h1 {
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
}

h3 {
  text-align: center;
}

.btn {
  background-color: bisque;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
}

.form {
  box-sizing: border-box;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}
/* li {
  list-style-type: none;
  text-align: left;
} */

.goals-list {
  box-sizing: border-box;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  border: solid;
}

.completed-goals {
  box-sizing: border-box;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  border: solid;
}
